<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628890664187-rnmjd8s1tf52sc0eeu01cho3k60bkksn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628890664187-rnmjd8s1tf52sc0eeu01cho3k60bkksn</string>
	<key>API_KEY</key>
	<string>AIzaSyAwu4mPLJaFsaJdiQzxP9x6mzVmyexaKQc</string>
	<key>GCM_SENDER_ID</key>
	<string>628890664187</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.birdclient</string>
	<key>PROJECT_ID</key>
	<string>birdpush-f2b2d</string>
	<key>STORAGE_BUCKET</key>
	<string>birdpush-f2b2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628890664187:ios:43743263091f074618c45e</string>
</dict>
</plist>