<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636545007999-qen1tu4nuk3o1it80t2jqpnqkr7c45cr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636545007999-qen1tu4nuk3o1it80t2jqpnqkr7c45cr</string>
	<key>API_KEY</key>
	<string>AIzaSyCzlyxWztWVlhF1hzS7o-YI9hXaXVPXniU</string>
	<key>GCM_SENDER_ID</key>
	<string>636545007999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.birdclient</string>
	<key>PROJECT_ID</key>
	<string>mtchfirebasepoject</string>
	<key>STORAGE_BUCKET</key>
	<string>mtchfirebasepoject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636545007999:ios:bc92d0a2b2aef7f14f5a4a</string>
</dict>
</plist>